body {
    background-color: #155263;
}


/* Class */
.text {
    color: black;
    word-wrap: keep-all;
    font-family: cursive, 'Source Sans Pro', sans-serif;
}


.spaceBetweenBtn {
    margin-right: 25px;
}


.btn {
    border: 5px solid #2c3e50;
    border-radius: 2px;
    background-color: #34495e;
    color: white;
    margin-top: 30px;
    padding: 10px 20px;
}

.loading-screen {
    animation: loading-screen;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: normal;
}

@keyframes loading-screen {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}